<div class="bg-dark sticky-top">
    <div class="container text-white">
        <div class="row align-items-center justify-content-between">
            <div class="col-3 py-3 text-nowrap text-brand-main">
                <a class="col-6 my-3 text-brand-main text-nowrap text-decoration-none" routerLink="/">
                    <span class="fa fa-store"></span>
                    NGCommerce
                </a>
                <p class="p-0 m-0">Sua melhor escolha!</p>
            </div>

            <div class="col-lg-3 col-sm-6 py-2">
                <div class="row text-nowrap">
                    <div class="col">
                        <a routerLink="/product/mycart" class="btn btn-brand-main w-100">
                            <i class="fa fa-shopping-cart"></i>
                            Carrinho
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink="/account/sign-up" class="btn btn-outline-brand-main w-100">
                            Entrar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>