<div class="bg-brand-main sticky-top">
    <div class="container py-2">
        <div class="row justify-content-between align-items-center">
            <a class="col-6 my-3 text-brand-contrast text-nowrap text-decoration-none" routerLink="/">
                <span class="fa fa-store"></span>
                NGCommerce
            </a>
            <div class="col-sm-6 col-md-2 btn-group">
                <a class="btn btn-outline-brand-contrast" routerLink="/product/mycart">
                    <i class="fa fa-shopping-cart"></i>
                </a>

                <button class="btn btn-icon btn-outline-brand-contrast">
                    <i class="fa fa-user-circle"></i>
                </button>
            </div>
        </div>
    </div>
</div>
