<app-header></app-header>

<div class="container">
    <div class="col-8 mx-auto">
        <div class="row py-5">
            <div class="col-7">
                <div class="row">
                    <div class="col">
                        <img src="https://picsum.photos/200" class="img-responsive w-100">
                    </div>
                    <h3 class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, hic!</h3>
                    <h1>20.000</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ex vero officia amet provident
                        distinctio labore, est veniam, placeat ratione ab cumque nemo repellendus soluta necessitatibus
                        corporis reiciendis? Iusto tenetur laudantium quod. Voluptatem, sint? Eveniet voluptatibus enim
                        voluptatem vero adipisci quasi totam aut distinctio dolores delectus. Reprehenderit doloremque
                        laudantium minus iusto ipsa unde, repellendus quos nesciunt officia error incidunt optio sit
                        voluptate? Fugiat dolore hic sit quam accusantium, quaerat est voluptatibus ex recusandae
                        facilis officiis nulla explicabo delectus repellendus minima assumenda quasi nemo ipsa ab alias
                        molestiae ratione dignissimos vero! Qui voluptas dolor, voluptatum ullam veritatis magnam odio
                        quam itaque!</p>
                </div>
            </div>

            <div class="col">
                <button class="btn btn-primary btn-block w-100">
                    <i class="fa fa-shopping-cart"></i>
                    Adicionar ao Carrinho
                </button>
            </div>
        </div>
    </div>
</div>