<app-header></app-header>

<div class="container">
    <div class="col-lg-7 col-md-6 m-auto my-5">
        <h1>Crie sua conta</h1>
        <form [formGroup]="signupForm!">
            <div class="form-group">
                <div class="row mb-2">
                    <div class="col">
                        <label class="w-100">
                            Nome completo:
                            <input type="text" class="form-control" formControlName="name" placeholder="João da Silva">
                            <div class="invalid-feedback">O campo é inválido</div>
                        </label>
                    </div>
                    <div class="col">
                        <label class="w-100">
                            Celular:
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+55</span>
                                </div>
                                <input type="text" class="form-control" formControlName="phone"
                                    placeholder="(00)00000-0000">
                                <div class="invalid-feedback">O campo é inválido</div>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <label class="w-100">
                            E-mail:
                            <input type="email" class="form-control" formControlName="email"
                                placeholder="joao@exemplo.com">
                            <div class="invalid-feedback">O campo é inválido</div>
                        </label>
                    </div>
                    <div class="col">
                        <label class="w-100">
                            Senha:
                            <div class="input-group">
                                <input [type]="passwordVisible ? 'text': 'password'" formControlName="password"
                                    class="form-control" placeholder="****">
                                <div class="input-group-append">
                                    <button (click)="switchPasswordVisibility()" type="button"
                                        class="btn btn-outline-secondary">
                                        <i class="fa fa-fw"
                                            [ngClass]="{'fa-eye-slash': passwordVisible, 'fa-eye': !passwordVisible}"></i>
                                    </button>
                                </div>
                                <div class="invalid-feedback">O campo é inválido</div>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col">
                        <button type="button" [disabled]="signupForm?.invalid == true || isLoading" (click)="onSignup()"
                            class="btn btn-brand-contrast w-100">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="isLoading">
                                    <span class="sr-only">Carregando...</span>
                                </div>
                                <div class="py-1 pl-2">Criar conta</div>
                            </div>
                        </button>
                    </div>
                </div>

                <div class="row mt-4" *ngIf="hasError">
                    <div class="col">
                        <div class="alert alert-danger">{{errorMessage}}</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>